

  <div id="wrapper">
    <div class="content-holder elem scale-bg2 transition3">
      <!-- title -->
      <div class="fixed-title">
        <p>Portfolio</p>
      </div>
      <!-- portfolio counter -->
      <div class="count-folio cdc" style="top: 50%; margin-top: -42px;">
        <div class="num-album"><%= Album.count %></div>
        <div class="all-album"><%= Album.count %></div>
      </div>
      <!-- portfolio counter  end-->

      <!--=============== content ===============-->
      <div class="content">
        <section>
          <div class="container">
            <!--  portfolio header -->
            <h1>PORTFOLIO</h1>
              <div class="content">
                <h3 class="subtitle" style="color:#000; margin: 10px 25px;">“All men have stars, but they are not the same things for different people. For some, who are travelers, the stars are
                guides. For others they are no more than little lights in the sky. For others, who are scholars, they are problems...
                But all these stars are silent. You-You alone will have stars as no one else has them... In one of the stars I shall be
                living. In one of them I shall be laughing. And so it will be as if all the stars will be laughing when you look at the
                sky at night..You, only you, will have stars that can laugh! And when your sorrow is comforted (time soothes all
                sorrows) you will be content that you have known me... You will always be my friend. You will want to laugh with me. And
                you will sometimes open your window, so, for that pleasure... It will be as if, in place of the stars, I had given you a
                great number of little bells that knew how to laugh”
                <br>
                <br>
                <p>― Antoine de Saint-Exupéry, The Little Prince</p>
                </h3>
              </div>

            <div class="grid">
              <% @albums.each do |album| %>
                <div class="card-index">
                  <%= link_to album_path(album) do %>
                    <%= cl_image_tag album.cover.key, class: "grid-picture" %>
                    <div class="card-index-info">
                      <h3><%= album.title.truncate(20) %></h3>
                      <p><%= album.description.truncate(150) %></p>
                      <!-- <button>More</button> -->
                    </div>
                  <% end %>
                  <% if category != nil %>
                    <p class="category"><%= album.category %></p>
                  <% else %>
                    <p class="category">
                      Undefined
                    </p>
                  <% end %>
                </div>
              <% end %>
            </div>
              </div>
            </div>

          </div>
        </section>
      </div>
      <!-- Content end  -->
    </div>
    <!-- content holder end -->
  </div>
  <!-- wrapper end -->
  <div class="left-decor"></div>
  <div class="right-decor"></div>
