<div class="content-holder scale-bg2">
  <!-- <div class="display full-height"> -->
        <%= render 'shared/banner' %>
    <!-- title -->
    <div class="fixed-title">
      <p><%= @album.title %></p>
    </div>
    <!-- portfolio counter -->
    <div class="count-folio cdc" style="top: 50%; margin-top: -42px;">
      <div class="num-album"><%= @album.id %></div>
      <div class="all-album"><%= Album.count %></div>
    </div>
    <!-- portfolio counter  end-->

    <!--=============== content ===============-->
    <div class="content">
      <div class="container gallery-show d-flex justify-content-center">
        <div class="row align-items-center justify-content-between">
          <div class="col-sm-12 col-7 col-lg-8 album-show">
            <div class="card-photo">
              <h3>Photo</h3>
              <ul class="list-inline">
                <% @album.photos.each do |image| %>
                  <li class="list-inline-item"><%= cl_image_tag image.key %></li>
                <%end %>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/IMG_6060_polarr_od7lxq' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/Z51dbYxA9A8A2NWL9TkfJxoB' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/berlin.jpg' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/ADroQgdoGFWDKLFsAnjf3YFe' %></li>
                <br>
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-5 col-lg-4 album-show h-100">
            <div class="card-photo-infos">
              <h3>Details</h3>
              <p><%= @album.description %></p>
              <div class="card-photo-infos-info">
                <h3>Info</h3>
                <ul class="project-details">
                  <li><i class="fas fa-hashtag"></i>
                    <h5 class="card-photo-infos-list">Category:
                      <%# @album.cat_types.each do |tag| %>
                        <%#= tag.category.name %>
                      <%# end %>
                    </h5>
                  </li>
                  <li><i class="far fa-calendar-alt"></i>
                    <h5 class="card-photo-infos-list"><%= @album.date.strftime("%b %Y") %></h5>
                  </li>
                  <li><i class="far fa-map"></i>
                    <h5 class="card-photo-infos-list"><%= @album.city %>, <%= @album.country %> </h5>
                  </li>
                </ul>
                <%= link_to "Back to Albums", albums_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share" title="Share"></button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>

        </div>

      </div>

    </div>

    <!-- Content end  -->
  <!-- </div> -->
  <!-- content holder end -->
</div>
<!-- wrapper end -->
<div class="left-decor"></div>
<div class="right-decor"></div>
