<div class="content-holder scale-bg2">
  <!-- <div class="display full-height"> -->
        <%= render 'shared/banner' %>
    <!-- title -->
    <div class="fixed-title">
      <p><%= @album.title %></p>
    </div>
    <!-- portfolio counter -->
    <div class="count-folio cdc" style="top: 50%; margin-top: -42px;">
      <div class="num-album"><%= @album.id %></div>
      <div class="all-album"><%= Album.count %></div>
    </div>
    <!-- portfolio counter  end-->

    <!--=============== content ===============-->
    <div class="content">
      <div class="container gallery-show d-flex justify-content-center">
        <div class="row align-items-center justify-content-between">
          <div class="col-sm-12 col-7 col-lg-8 album-show">
            <div class="card-photo">
              <h3>Photo</h3>
              <ul class="list-inline">
                <% @album.photos.each do |image| %>
                  <li class="list-inline-item"><%= cl_image_tag image.key %></li>
                <%end %>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/IMG_6060_polarr_od7lxq' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/Z51dbYxA9A8A2NWL9TkfJxoB' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/berlin.jpg' %></li>
                <li class="list-inline-item"><%= cl_image_tag 'ph-web/ADroQgdoGFWDKLFsAnjf3YFe' %></li>
                <br>
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-5 col-lg-4 album-show h-100">
            <div class="card-photo-infos">
              <h3>Details</h3>
              <p><%= @album.description %></p>
              <div class="card-photo-infos-info">
                <h3>Info</h3>
                <ul class="project-details">
                  <li><i class="fas fa-hashtag"></i>
                    <h5 class="card-photo-infos-list">Category:
                      <% @album.each do |tag| %>
                        <%= tag.category %>
                      <% end %>
                    </h5>
                  </li>
                  <li><i class="far fa-calendar-alt"></i>
                    <h5 class="card-photo-infos-list"><%= @album.date.strftime("%b %Y") %></h5>
                  </li>
                  <li><i class="far fa-map"></i>
                    <h5 class="card-photo-infos-list"><%= @album.city %>, <%= @album.country %> </h5>
                  </li>
                </ul>
                <%= link_to "Back to Albums", albums_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>
    <!-- Content end  -->
  <!-- </div> -->
  <!-- content holder end -->
</div>
<!-- wrapper end -->
<div class="left-decor"></div>
<div class="right-decor"></div>
